.header {
  height: 74px;
  background-color: rgba(249, 174, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-box {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header-menu-box {
      flex: 0 0 37px;

      & .navigations {
        & .navbar {
          padding: 0;

          & .navbar-nav {
            & .nav-item {
              & .nav-link {
                font-size: 26px;
                color: #4cb847;
                font-weight: 700;
                padding-left: 10px;
                padding-right: 10px;
              }
            }

            & .nav-item-mobile a {
              display: block;
              font-size: 26px;
              color: $gray-color;
              font-weight: 700;
              padding-left: 10px;
              padding-right: 10px;
              margin-top: 50px;
            }
          }
        }
      }

      & .header-contact {
        display: none;
      }
    }
  }

  & .user-options {
    & .languages {
      display: none;
    }
  }
}
